body {
    background-image: url('Assets/bg.jpg');
}

div.under-construction-notice {
    text-align: center;
    word-wrap: normal;
    color: white;
}
p.paragraph {
    width: 700px;
    word-wrap: normal;
}
p.paragraphcentered {
    width: 700px;
    word-wrap: normal;
    text-align: center;
}
div.header {
    text-align: center;
}
*.centered {
    text-align: center;
}