/* Collapsible sidebars */
.visual-refresh [class^="sidebarList_"] {
  position: fixed; /* Remove if you don't want it to float */
  width: 150px; /* Set to 0px if you don't want it to float */
  container-type: unset;
  opacity: 0%;
  height: 100%;
  z-index: 998;
  left: -70px;
  filter: drop-shadow(16px 16px 16px #0005) ;
  transition-property: opacity, left, width;
  transition-duration: .5s;
  transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
}

.visual-refresh [class^="sidebar_"]:hover [class^="sidebarList_"] {
  left: 70px;
  opacity: 100%;
  width: 300px; /* Set your preferred width here (resize handle is disabled) */
}

.visual-refresh [class*="guilds"] {
  z-index: 999; /* So the sidebar pops from behind the servers */
}

.visual-refresh [class^="panels_"] {
  position: fixed; /* Floating user panel (status, deafen, etc) */
  width: 60px;
  z-index: 999;
  transition: width .5s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.visual-refresh [class^="panels_"]:hover {
  width: 300px;
  z-index: 9999;
}


.visual-refresh [class^="panels_"] [class^="container__"] [class^="buttons__"] {

  opacity: 0%;
  scale: 0%; /* Because the buttons can't stay inside the panel on chromium (any help is appreciated) */
  transition-property: opacity, margin-bottom, scale;
  transition-duration: .5s;
  transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
}

.visual-refresh .panels_c48ade:hover [class^="container__"] [class^="buttons__"] {
 
   scale: 100%;
   opacity: 100%;
}

.visual-refresh [class^="sidebarResizeHandle_"] {
  display: none; /* Set your preferred width in the sidebar settings */
}

.visual-refresh [class^="container_"] [class^="membersWrap_"] {
  position: fixed; /* Remove if you don't want it to float */
  height: 100%;
  opacity: 0%;
  z-index: 999;
  right: -260px;
/*top: 80px;  /* Add/change this according to your desktop/client */
  filter: drop-shadow(-16px -16px 16px #0005) ;
  transition-property: right, opacity;
  transition-duration: .5s;
  transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
}

.visual-refresh [class^="container_"] [class^="membersWrap_"]:hover {
  right: 0px;
  opacity: 100%;
}
