body.under-construction-notice {
    background-image: url('Assets/bg.jpg');
}
div.under-construction-notice {
    font-family: 'Comfortaa', sans-serif;
    text-align: center;
    color: white;
}
p.paragraph {
    width: 700px;
    word-wrap: normal;
}
p.paragraphcentered {
    width: 700px;
    word-wrap: normal;
    text-align: center;
}
*.centered {
    text-align: center;
}