p.paragraph {
    width: 700px;
    word-wrap: normal;
}
p.paragraphcentered {
    width: 700px;
    word-wrap: normal;
    text-align: center;
}
div.header {
    text-align: center;
}
*.centered {
    text-align: center;
}